# caddy/Caddyfile
obsidian.{$DOMAIN} {
  tls internal
  reverse_proxy obsidian:3000
}

openwebui.{$DOMAIN} {
  tls internal
  reverse_proxy open-webui:8080
}

jupyter.{$DOMAIN} {
  tls internal
  reverse_proxy jupyter-pytorch:8888
}

n8n.{$DOMAIN} {
  tls internal
  reverse_proxy n8n:5678
}

syncthing.{$DOMAIN} {
  tls internal
	reverse_proxy syncthing:8384
}

glance.{$DOMAIN} {
  tls internal
  reverse_proxy glance:8080
}

vaultwarden.{$DOMAIN} {
  tls internal
  reverse_proxy vaultwarden:80
}

karakeep.{$DOMAIN} {
  tls internal
  reverse_proxy karakeep-web-1:3000
}

paperless.{$DOMAIN} {
  tls internal
  reverse_proxy paperless-webserver-1:8000
}

homeassistant.{$DOMAIN} {
  tls internal
  reverse_proxy http://{$HOMEASSISTANT_IP}:8123
}

nas.{$DOMAIN} {
  tls internal
  reverse_proxy {$NAS_IP}:5000
}

immich.{$DOMAIN} {
  tls internal
  reverse_proxy {$NAS_IP}:2283
}

pihole.nas.{$DOMAIN} {
  tls internal
  reverse_proxy {$NAS_IP}:8080
}

pihole.rpi.{$DOMAIN} {
  tls internal
  reverse_proxy {$RPI_IP}
}

apollo.sp11.{$DOMAIN} {
  tls internal
  reverse_proxy https://{$SP11_IP}:47990 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

apollo.pc.{$DOMAIN} {
  tls internal
  reverse_proxy https://{$PC_IP}:47990 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
