# caddy/Caddyfile
obsidian.***REMOVED*** {
  tls internal
  reverse_proxy obsidian:3000
}

openwebui.***REMOVED*** {
  tls internal
  reverse_proxy open-webui:8080
}

jupyter.***REMOVED*** {
  tls internal
  reverse_proxy jupyter-pytorch:8888
}

n8n.***REMOVED*** {
  tls internal
  reverse_proxy n8n:5678
}

syncthing.***REMOVED*** {
  tls internal
	reverse_proxy syncthing:8384
}

glance.***REMOVED*** {
  tls internal
  reverse_proxy glance:8080
}

karakeep.***REMOVED*** {
  tls internal
  reverse_proxy karakeep-web-1:3000
}

immich.***REMOVED*** {
  tls internal
  reverse_proxy ***REMOVED***:2283
}

piholenas.***REMOVED*** {
  tls internal
  reverse_proxy ***REMOVED***:8080
}

piholerpi.***REMOVED*** {
  tls internal
  reverse_proxy ***REMOVED***
}
