# caddy/docker-compose.yml
services:
  caddy:
    image: caddy:latest
    container_name: caddy
    environment:
      - NAS_IP=${NAS_IP}
      - RPI_IP=${RPI_IP}
      - SP11_IP=${SP11_IP}
      - PC_IP=${PC_IP}
      - SERVER_IP=${SERVER_IP}
      - COMPUTE_IP=${COMPUTE_IP}
      - DOMAIN=${DOMAIN}
    ports:
      - "${SERVER_IP}:443:443"
      - "${SERVER_IP}:80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped
    networks:
      - caddy-net

volumes:
  caddy_data:
  caddy_config:

networks:
  caddy-net:
    external: true
