services:
  stirling-pdf:
    image: docker.stirlingpdf.com/stirlingtools/stirling-pdf:latest
    container_name: stirling-pdf
    volumes:
      - ./data/stirlingpdf/trainingData:/usr/share/tessdata
      - ./data/stirlingpdf/extraConfigs:/configs
      - ./data/stirlingpdf/customFiles:/customFiles
      - ./data/stirlingpdf/logs:/logs
      - ./data/stirlingpdf/pipeline:/pipeline
    restart: unless-stopped
    networks:
      - caddy-net

networks:
  caddy-net:
    external: true
