services:
  bentopdf:
    image: bentopdfteam/bentopdf-simple:latest
    container_name: bentopdf
    restart: unless-stopped
    networks:
      - caddy-net

networks:
  caddy-net:
    external: true