services:
  home-assistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: home-assistant
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ=America/New_York   # adjust
    volumes:
      - ./config:/config
