services:
  ezcopper:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ezcopper
    volumes:
      - ./data:/data
    env_file:
      - .env
    environment:
      - ${DISPLAY:-99}
    shm_size: "1gb"
    restart: unless-stopped
    stop_grace_period: ${STOP_GRACE_PERIOD:-10s}
    networks:
      - caddy-net

networks:
  caddy-net:
    external: true
