services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    privileged: true
    volumes:
      - ollama:/root/.ollama
    networks:
      - ollama-net
    environment:
      - OLLAMA_CONTEXT_LENGTH=16384

volumes:
  ollama:

networks:
  ollama-net:
    external: true
