services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
      - "127.0.0.1:11434:11434"
    privileged: true
    volumes:
      - ollama:/root/.ollama
    networks:
      - ollama-net
    environment:
      - OLLAMA_HOST=0.0.0.0:11434
      - OLLAMA_CONTEXT_LENGTH=64000

volumes:
  ollama:

networks:
  ollama-net:
    external: true
